/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: black;
}

.list-cell {
	-fx-padding: 2px;
}

#list-rect {
	-fx-stroke: black;
	-fx-stroke-width: 5px; 
}

#nom-alarmview {
	-fx-font: 32px "Serif";
}

#desc-alarmview {
	-fx-font: 20px "Serif";
}

#nom-infoalarm {
	-fx-font: 28px "Serif";
}

#desc-infoalarm {
	-fx-font-size: 20px;
	-fx-font-family: "Serif";
	-fx-text-fill: black;
}

#priorite-infoalarm {
	-fx-font: 24px "Serif";
}

#treated-infoalarm {
	-fx-font: 24px "Serif";
}

#onglet-text {
	-fx-font: 18px "Serif";
}

#vol-text {
	-fx-font: 20px "Serif";
}